
.about-section {
    background-image: url(/images/whychooseus-background.jpg);
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.about-container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.about-text {
    flex: 1;
    max-width: 550px;
    color: #FFFFFF;
}


.about-title {
    font-family: 'Aleo', sans-serif; 
    font-weight: 300;
    font-size: 36px;
    color: #FFFFFF;
    margin-bottom: 2rem;
}


.about-paragraph, .about-paragraph-p {
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
}

.about-paragraph-p {
    margin-bottom: 1.5rem;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}


.discover-button {
    background-color: #496BFE; 
    color: #FFFFFF;
    border: none;
    padding: 1rem 2.5rem;
    font-size: 16px;
    font-family: 'Aleo', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 25px;
    
    &:hover {
        background-color: #496BFE;
        box-shadow: 0 4px 15px rgba(75, 114, 230, 0.3);
    }
}


.about-images {
    display: flex;
    flex-direction: column;
    margin: 60px;
    gap: 40px;

    .first-image {
       width: 350px;
       height: 220px;
       
    }

    .second-image {
        margin-left: 150px;
        width: 350px;
        height: 220px;
        
    }
}
