/* Navigation */
.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #5474FD;
}

.nav-container {
  width: 100%;
  max-width: 1773px;
  height: 83px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
}
.nav-list li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
}
.nav-list li a:hover {
  text-decoration: underline;
}

.about-section {
  background-image: url(/images/whychooseus-background.jpg);
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.about-container {
  max-width: 100%;
  margin: 80 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-text {
  flex: 1;
  max-width: 550px;
}

.about-title {
  font-family: "Aleo" sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  margin-bottom: 2rem;
}

.about-parafgraph {
  font-family: "josefin sans";
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
}
.about-parafgraph p {
  margin-bottom: 1.5rem;
  color: #ffffff;
}

.discover-button {
  background-color: #496BFE;
  color: #FFFFFF;
  border: none;
  padding: 1rem 2.5rem;
  font-size: 16px;
  font-family: "Aleo" sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
}
.discover-button:hover {
  background-color: #496BFE;
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(75, 114, 230, 0.3);
}

.about-images {
  flex: 1;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.about-images img {
  max-width: 100%;
  height: auto;
}
.about-images .bottom-image {
  margin-left: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  margin: 0;
}

.landing-page {
  background-image: url("/images/landing-page.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  position: relative;
}
.landing-page .landing-page-container {
  list-style: none;
}
.landing-page .landing-page-title {
  font-weight: bold;
  font-size: 48px;
  font-family: "Josefin sans";
  letter-spacing: 5px;
}
.landing-page .landing-page-text {
  font-size: 20px;
  font-family: "Josefin sans";
  letter-spacing: 10px;
  font-weight: normal;
}
.landing-page .search-container {
  width: 600px;
  height: 60px;
  background-color: #FFFFFF;
  text-align: center;
  border: none;
  outline: none;
  margin: 70px;
}
.landing-page .search-container form {
  display: flex;
  width: 100%;
  align-items: center;
}
.landing-page .search-container input {
  width: 70%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  outline: none;
  border: none;
}
.landing-page .search-container .search-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 180px;
  height: 60px;
  color: #FFFFFF;
  background-color: #5474FD;
  padding: 10px 50px;
  cursor: pointer;
  border: none;
  outline: none;
}
.landing-page .search-container .search-button i {
  margin-left: 10px;
  font-size: 12px;
}
.landing-page .search-container .search-button:hover {
  color: #496BFE;
  background-color: #060c29;
}
.landing-page .search-container .search-button .fa-sharp-duotone {
  justify-content: flex-end;
}
.landing-page .scroll-down {
  margin-top: 20%;
  font-size: 18px;
  letter-spacing: 2px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.landing-page .scroll-down i {
  font-size: 20px;
  margin-top: 10px;
}

/* Find Pick Reserve */
.process-section {
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.process-container {
  display: flex;
  gap: 5%;
  max-width: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.step-box i {
  font-size: 36px;
  margin-bottom: 15px;
  color: #5474FD;
}

.step-title {
  color: #FFFFFF;
  font-size: 26px;
  line-height: 26px;
  font-family: "Aleo" sans-serif;
  text-align: center;
  justify-content: space-around;
}

.icon-blue {
  color: #5474FD;
  font-size: 50px;
}

.icon-red {
  color: #FF6363;
  font-size: 50px;
}

.process-box {
  gap: 20px;
}
.process-box .find-step,
.process-box .pick-step,
.process-box .reserve-spot {
  flex: 20;
}/*# sourceMappingURL=main.css.map */